/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
* {
    margin: 0;
}
.todoList {
    background-color: beige;
    width: 800px;
    height: 1000px;
    margin: 20px auto;
   
}
.title {
   
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: saddlebrown;
    font-size: 90px;
}
.header {

    margin: auto;
    border: 1px solid lightgrey;
    width: 600px;
    height: 50px;
    text-align: center;
    
    display: flex;
    justify-content: center;
  
   
}
input {
    width: 400px;
    height: 48px;
    border: none;
    font-size: 30px;
    font-weight: 100;
    color: lightgray;
}
.header button {
    border: none;
    height: 45px;
    width: 45px;
    
  
}


.body {
    height: ;
    width: 600px;
    margin: auto;
   
}


ul {
    list-style: none;
    font-size: 30px;
    font-weight: 100;
    width: 600px;
    border: 1px solid lightgrey;
    background-color: beige;
    font-family:'Courier New', Courier, monospace;
   
    
}
ul li {
    /* height: 48px;
    display: flex;
    width: 445px;
    background-color: white; */
 
    width: 445px;
    height: 50px;
    background-color: white;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  
    
   /* width: 445px;
   text-align: left; */
  
  
}
li h3 {
    height: 50px;
    width: 400px;
}

li button {
    width: 30px;
    height: 45px;
    border: none;
    background-color: white;
   
}
.footer {
    width: 600px;
    height: 45px;
    box-shadow: 1px 10px 10px grey;
    margin: auto;
    padding-left: 30px;
}